<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">GraphLab</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-lg-column">
        <li class="nav-item px-0">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Образец
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="Zadanie2" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Компоненты связности
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="Zadanie3" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Мин. ост. деревья
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="Zadanie4" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Поиск мин. пути
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="Zadanie5" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="false"></span> Кратчайшие пути между всеми парами вершин
            </NavLink>
        </li>

        <li class="nav-item px-0">
            <NavLink class="nav-link" href="Zadanie6" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="false"></span> Эйлеров цикл
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
